In [16]:
def flagger (data):

    #data = "2012,AO,Artisanal opportunities,future,0,Global average,80.74,"
    #data[r][c]
    #counts

    scenerioCounter=0
    goalsCounter=0
    longGoalCounter=0
    dimensionCounter=0
    regionIDCounter=0
    region_nameCounter=0
    valueCounter=0


    for i in range(len(data)):


        if (not(data[i][0].isdigit())):
            scenerioCounter=scenerioCounter+1

            #print("Scenerio: " + str(data[i][0]))

        if (not(data[i][1].isalpha())):
            goalsCounter=goalsCounter+1

            #print("goals: " + str(data[i][1]))

        if (not(data[i][2].replace(" ","").replace("&","").replace("(","").replace(")","").isalpha())):
            longGoalCounter=longGoalCounter+1

            #print("long goal: " + str(data[i][2]))

        if (not(data[i][3].isalpha())):
            dimensionCounter=dimensionCounter+1

            #print("dimension " + str(data[i][3]))

        if (not(data[i][4].isdigit())):
            regionIDCounter=regionIDCounter+1

            #print("region ID: " + str(data[i][4]))

        if (not(data[i][5].replace(" ","").replace("_","").replace("(","").replace(")","").replace("-","").isalpha())):
            region_nameCounter=region_nameCounter+1

            #print("region name: " + str(data[i][5]))

        if (not(data[i][6].replace(".","").replace("-","").isdigit())):
            valueCounter=valueCounter+1

            #print("value: " + str(data[i][6]))

    return scenerioCounter, goalsCounter, longGoalCounter, dimensionCounter, regionIDCounter, region_nameCounter, valueCounter

dataset = open('DataTestNI.txt')
lines = dataset.readlines()
row = []
for line in lines:

    row.append(line.strip().split(","))

typeerror_count = flagger(row)

(0, 0, 0, 0, 0, 0, 22883)

In [5]:
import pandas as pd
import numpy as np

In [6]:
# Import excel data into python

# OHIdata = 'OHIData.xlsx'
# OHI = pd.read_excel(OHIdata)

OHI = pd.read_csv('OHIDataSet.csv')

In [7]:
len(OHI.columns), len(OHI)

(8, 146196)

In [8]:
OHI.iloc[0:5,]

,scenario,goals,long_goal,dimension,region_id,region_name,value,Unnamed: 7
0,2012,AO,Artisanal opportunities,future,0,Global average,80.74,NaN
1,2012,AO,Artisanal opportunities,future,1,Cocos Islands,100.00,NaN
2,2012,AO,Artisanal opportunities,future,2,Christmas Island,100.00,NaN
3,2012,AO,Artisanal opportunities,future,3,Norfolk Island,100.00,NaN
4,2012,AO,Artisanal opportunities,future,4,Macquarie Island,100.00,NaN

In [9]:
colheaders = list(OHI.columns.values)

In [10]:
# Check number of missing/NA values ~ if over 80% then remove

OHItest = OHI
unwanted = [column for column in OHItest.columns 
                if OHItest[column].isna().sum()/len(OHItest[column]) > 0.2]
unwanted = "".join(unwanted)
OHItest = OHItest.drop(unwanted, axis=1)

In [11]:
# Verify if colnames match

from collections import Counter

des_colnames = ['scenario','goals','long_goal','dimension','region_id','region_name','value']
colheaders = list(OHI.columns.values)

def compare(s, t):
    return Counter(s) == Counter(t)

col_ver = compare(des_colnames, colheaders)

In [12]:
# List number of missing/NA in other cases

NAcount = OHItest.isna().sum()/len(OHItest)
NAcount

scenario       0.000000
goals          0.000000
long_goal      0.000000
dimension      0.000000
region_id      0.000000
region_name    0.000000
value          0.156523
dtype: float64

In [13]:
# If there are any fully blank entries remove the rows

OHItest_rowclean = OHI.dropna(how='all')

In [14]:
# Adding column for unique ID ~ combine all non-numeric values

OHItest['unique_key'] = OHItest[['scenario','goals','dimension','region_id']].astype(str).sum(axis=1)
OHItest.head()

,scenario,goals,long_goal,dimension,region_id,region_name,value,unique_key
0,2012,AO,Artisanal opportunities,future,0,Global average,80.74,2012AOfuture0
1,2012,AO,Artisanal opportunities,future,1,Cocos Islands,100.00,2012AOfuture1
2,2012,AO,Artisanal opportunities,future,2,Christmas Island,100.00,2012AOfuture2
3,2012,AO,Artisanal opportunities,future,3,Norfolk Island,100.00,2012AOfuture3
4,2012,AO,Artisanal opportunities,future,4,Macquarie Island,100.00,2012AOfuture4

In [ ]:
#`